<!DOCTYPE html>
<html>
<head>
		<link rel="stylesheet" type="text/css" href="LoggingStyle.css">
		<meta charset="UTF-8">
		<meta name = "description" content="Zajebiste">
		<title>DESERT 21</title>
</head>
<body>
	<h1>
		DESERT 21
	</h1>

<div id="col-1">
  <h2>Game description here!</h2>
  <h2>Free to play!</h2>
  <h2>Absolutely no pay to win!</h2>
  <h2>Doesn't steal your life!</h2>
</div>

<script src="LoggingScript.js"></script>

<div id="col-2">
	<br></br>
  <h2 id = "logintexttitle">LOG IN HERE!</h2>
  <div id = "logintext"><text>LOGIN:</text> <input type="text" name="logininput" id = "loginVal"/></div>
  <div id = "passwordtext">PASSWORD: <input type="PASSWORD" name="passwordinput" id = "passwordVal"/></div>
  <div><input id="logInButton" type="button" value="LOG IN" onclick="tryToLogIn();" /></div>
  <br></br>
  <div>
  	<text id = "registerText">&nbsp; to create FREE account</text>
  	<a id="registerText" href="../RegistrationPage/Index.html">here</a>
  	<text id = "registerText">Click &nbsp;</text>
  	
  </div>
</div>

</body>
</html>