body {
	background-image: url('../background.jpg');
	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size: cover;
}

h1 {
	color: rgb(255, 0, 0);
	text-shadow: 5px 5px #000000;
	text-decoration-style: solid;
	text-align: center;
	text-decoration-style: dashed;
	font-size: 1000%;
	line-height: 0.1;
}	

#col-1 {
  position: relative;
  width: 50%;
  text-align: center;
  text-shadow: 1px 1px #000000;
  float: left;
  height: 100%;
  color: rgb(204,204,204);
  z-index: 1010101010
}

#col-2 {
  position: relative;
  width: 25%;
  float: left;
  height: 100%;
  z-index: 1010101010
}

#logintext {
	color: rgb(204,204,204);
	text-shadow: 1px 1px #000000;
	text-align: right;
}

#passwordtext {
	color: rgb(204,204,204);
	text-shadow: 1px 1px #000000;
	text-align: right;
}

#boxes {
	background-color: rgb(120, 120, 120);
	color: white;
}

#logintexttitle {
	color: red;
	text-shadow: 1px 1px #000000;
	text-align: right;
	line-height: 0.1;
}

#logInButton {
	float: right;
}

#registerText {
	float: right;
	color: rgb(204, 204, 204);
	text-shadow: 1px 1px #000000;
}