<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="RegistrationStyle.css">
	<script src = "RegistrationScript.js"></script>
	<meta charset="UTF-8">
	<meta name = "description" content="Zajebiste">
	<title>DESERT 21</title>
</head>

<body>

<h1>
	DESERT 21
</h1>


<h2>
	REGISTER FOR FREE!
</h2>


<form>
<div class = "regForm">
	<!-- <br></br> -->
	<input id = "loginField" type="text" name="login" placeholder="LOGIN">
</div>
<div class = "regForm">
	<input id = "passwordField" type="password" name="password" placeholder="PASSWORD">
</div>
<div class = "regForm">
	<input id = "passwordRepeatField" type="password" name="passwordRepeat" placeholder="REPEAT PASSWORD">
</div>
<div class = "regForm">
	<input id = "mailField" type="text" name="mail" placeholder="E-MAIL">
	<div id = "errorMessageField"></div>
</div>
<div class = "regForm">
	<input type="button" name="confirm" value = "REGISTER" onclick="tryToRegister()">
</div>
<div id = "regFormLink">
	Click 
	<a href="../LoggingPage/Index.html" id = "regFormLink">here</a>
	to log in
</div>
<br></br>

</form>

<div id = "photoLink">
Picture made by <a href="https://pixabay.com/pl/users/Pexels-2286921/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1846708" id = "photoLink"> Pexels</a>
</div>
</body>
</html>